# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [64]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [83]:
json_normalize(data, 'counties',['state', 'shortname'], 'info')

         name  population infoshortname infostate
0        Dade       12345            FL   Florida
1     Broward       40000            FL   Florida
2  Palm Beach       60000            FL   Florida
3      Summit        1234            OH      Ohio
4    Cuyahoga        1337            OH      Ohio

In [ ]:
json_normalize(data, ['counties', 'name'])

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor shortname    state
0        Dade       12345    Rick Scott        FL  Florida
1     Broward       40000    Rick Scott        FL  Florida
2  Palm Beach       60000    Rick Scott        FL  Florida
3      Summit        1234   John Kasich        OH     Ohio
4    Cuyahoga        1337   John Kasich        OH     Ohio

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [4]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
   {'code': 'EX', 'name': 'Education'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
   {'code': 'EX', 'name': 'Education'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocDate': '28-AUG-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'EntityID': '090224b081e545fb_1_0'},
   {'DocDate': '01-JUL-2013',
    'DocType': 'IP',
    'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'EntityID': '000442464_20130920111729'},
   {'DocDate': '22-NOV-2012',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'EntityID': '090224b0817b19e2_1_0'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
   {'code': 'ES', 'name': 'Secondary education'},
   {'code': 'BS', 'name': 'Public administration- Other social services'},
   {'code': 'ET', 'name': 'Tertiary education'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'code': 'BX',
    'name': 'Public Administration, Law, and Justice'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'EntityID': '000333037_20131024115616'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'EntityID': '000356161_20131024151611'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'EntityID': '000442464_20131031112136'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'EntityID': '000333037_20131031105716'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'EntityID': '000356161_20130305113209'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'EntityID': '000356161_20130305113716'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'code': 'BS',
    'name': 'Public administration- Other social services'},
   {'code': 'BZ', 'name': 'General public administration sector'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'code': '24', 'name': 'Other economic management'},
   {'code': '54', 'name': 'Social safety nets'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [5]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [10]:
len(sample_json_df)

2

In [6]:
full_json_df=json.load((open('data/world_bank_projects.json')))

#Deprecated; do NOT do it this way. Use load() instead.
##Lets start by reading in the full json file
#full_json_df = pd.read_json('data/world_bank_projects.json')

In [13]:
full_json_df['countryname'][0:10]

0    Federal Democratic Republic of Ethiopia
1                        Republic of Tunisia
2                                     Tuvalu
3                          Republic of Yemen
4                         Kingdom of Lesotho
5                          Republic of Kenya
6                          Republic of India
7                 People's Republic of China
8                          Republic of India
9                         Kingdom of Morocco
Name: countryname, dtype: object

## Question 1

In [46]:
#QUESTION !#

#Sort by number of projects
##group or count number of projects associated with a given country (groupby)

country_json_group = full_json_df.groupby(by='countryname')

project_number = country_json_group['project_name'].count()
project_number = Project_number.sort_values(ascending=False)

project_number[:10]

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

In [44]:
# #I wanted to add an index, for increased clarity. I tried a few times and failed.
# Indexed_projects = Project_number.to_frame()
# LIP = len(Indexed_projects)
# Indexed_projects = Indexed_projects.set_index(range(LIP))
# Indexed_projects[:10]

In [51]:
?sample_json_df.groupby()

In [69]:
mjtheme_json_samp = json_normalize(sample_json_df, 'countryname')
mjtheme_json_samp
#['mjtheme_namecode', ['code', 'name']]

TypeError: string indices must be integers

## Question 2

Top 10 major project themes (using 'mjtheme_namecode')

filled_themes is the final product for Question 3.

Question 2 is best answered using the final product of Question 3, so my final answer to it is way down below as top_theme_count .

In [7]:
##QUESTION 2##
#Top 10 major project themes (w/ 'mjtheme_namecode')

full_json_df=json.load((open('data/world_bank_projects.json')))


project_themes=json_normalize(full_json_df, 'mjtheme_namecode')
#...so normalize just hates me when I use pd.read_json(). Everything works if I use json.load() .
#I am going to update my personal preferences so that I do the later instead of the former.

##Old Try
# theme_json_group = full_json_df.groupby(by=['mjtheme_namecode', ['code', 'name']])

# #theme_number = theme_json_group['project_name'].count()
# theme_json_group

In [36]:
theme_json_group = project_themes.groupby('code')

theme_count = theme_json_group.count()
theme_count = theme_count['name'].sort_values(ascending = False)
theme_count

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: name, dtype: int64

In [33]:
#So what is project code 11?
Elevens = project_themes[project_themes['code']=='11']

print ( Elevens['name'].unique() )
Elevens.head()
#project_themes[project_themes['code']=='11'].head()

#Answer: Project code 11 represents

['' 'Environment and natural resources management']

   code                                          name
1    11
6    11  Environment and natural resources management
16   11  Environment and natural resources management
28   11  Environment and natural resources management
31   11  Environment and natural resources management

So project code 11, which represents "Environment and natural resources management", comes in first.

Now to make a generalized function to match the top 10 rankings in theme count to a list of the non-blank uniques in name.

## Question 3

Replacing null name values with the correct names.

In [49]:
sorted_themes = project_themes.sort_index(by=['code','name'], ascending=[True, False])
sorted_themes[sorted_themes['code']=='11'].head()

/Users/Spirapple/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

   code                                          name
6    11  Environment and natural resources management
16   11  Environment and natural resources management
28   11  Environment and natural resources management
31   11  Environment and natural resources management
37   11  Environment and natural resources management

In [66]:
sorted_themes = sorted_themes.replace('', np.nan)
filled_themes = sorted_themes.fillna(method='ffill')
filled_themes[filled_themes['code']=='11']['name'].unique()

array(['Environment and natural resources management'], dtype=object)

In [68]:
filled_themes.tail()

     code               name
1473    9  Urban development
1495    9  Urban development
333     9  Urban development
460     9  Urban development
471     9  Urban development

filled_themes is the final product for Question 3.

Question 2 is best answered using the final product of Question 3, so it is answered below as top_theme_count .

In [92]:
##End product I want for Question 2: index, counts, and name

top_theme_count = theme_count[0:10].to_frame()
top_theme_count.columns = ['count']
top_theme_count['name']=np.nan

#top_theme_count.index : confirmed that codes are treated as an index

#turns out that I need to deal with the blanks in 'name' anyway as Q3!##

# question2df = top_theme_count
# #fix above

for indexed in top_theme_count.index:
    codeandname = filled_themes[filled_themes['code']==indexed]
    NameList = codeandname['name'].unique()
    AddName = "".join(NameList)
    top_theme_count['name'][indexed] = AddName
    
#    indexed = name.index

/Users/Spirapple/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Spirapple/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [93]:
top_theme_count

      count                                          name
code
11      250  Environment and natural resources management
10      216                             Rural development
8       210                             Human development
2       199                      Public sector governance
6       168         Social protection and risk management
4       146      Financial and private sector development
7       130                   Social dev/gender/inclusion
5        77                         Trade and integration
9        50                             Urban development
1        38                           Economic management

---Below this line is some old EDA ----

In [57]:
LittleThree = sorted_themes[sorted_themes['code']=='3']
LittleThree

     code         name
252     3  Rule of law
359     3  Rule of law
415     3  Rule of law
508     3  Rule of law
509     3  Rule of law
789     3  Rule of law
1209    3  Rule of law
1287    3  Rule of law
1302    3  Rule of law
1316    3  Rule of law
1411    3  Rule of law
1434    3  Rule of law
493     3
691     3
1029    3

In [62]:
SortThree = LittleThree.fillna(method='ffill')

SortThree

     code         name
252     3  Rule of law
359     3  Rule of law
415     3  Rule of law
508     3  Rule of law
509     3  Rule of law
789     3  Rule of law
1209    3  Rule of law
1287    3  Rule of law
1302    3  Rule of law
1316    3  Rule of law
1411    3  Rule of law
1434    3  Rule of law
493     3
691     3
1029    3

In [19]:
print ( project_themes['name'].unique() )
print ( project_themes['code'].unique() )

['Human development' '' 'Economic management'
 'Social protection and risk management' 'Trade and integration'
 'Public sector governance' 'Environment and natural resources management'
 'Social dev/gender/inclusion' 'Financial and private sector development'
 'Rural development' 'Urban development' 'Rule of law']
['8' '11' '1' '6' '5' '2' '7' '4' '10' '9' '3']

In [23]:
theme_json_group.head()

    code                                          name
0      8                             Human development
1     11
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
7      6         Social protection and risk management
8      7                   Social dev/gender/inclusion
9      7                   Social dev/gender/inclusion
10     5                         Trade and integration
11     4      Financial and private sector development
12     6         Social protection and risk management
13     6
14     2                      Public sector governance
15     4      Financial and private sector development
16    11  Environment and natural resources management
17     8
18    10                             Rural development
19     7
20     2                      Public sector governance
21     2                      Public sector governance
22     2                      Public sector governance
23    10                             Rural development
25    10                             Rural development
26     6         Social protection and risk management
28    11  Environment and natural resources management
29     4
30     5                         Trade and integration
31    11  Environment and natural resources management
32    10                             Rural development
36    10                             Rural development
38     5                         Trade and integration
41     8                             Human development
42     7
43     8                             Human development
44     8                             Human development
46     7                   Social dev/gender/inclusion
53     9                             Urban development
66     4      Financial and private sector development
67     5                         Trade and integration
80     4
88     1                           Economic management
175    1                           Economic management
183    9                             Urban development
194    9                             Urban development
200    9                             Urban development
204    1                           Economic management
205    1                           Economic management
252    3                                   Rule of law
318    9                             Urban development
359    3                                   Rule of law
415    3                                   Rule of law
493    3
508    3                                   Rule of law